<!DOCTYPE html>
html(lang="en")
    head
        include ../utils/meta.pug
        if environment === 'production'
            link(rel='stylesheet', type='text/css', href=`/assets/dist/pages/errors404.css?id=${hashId}`)
        else
            each file in cssFiles
                link(rel='stylesheet', type='text/css', href=`/assets/dist/pages/${filePath}.css?id=${hashId}`)
    body
        include ../utils/new-page.pug
        include ../utils/noscript.pug
        include ../utils/scripts.pug
        if environment === 'production'
            script(src=`/assets/dist/pages/${filePath}.js?id=${hashId}`, async)
        else
            each file in jsFiles
                script(src=`/assets/dist/pages/${file}?id=${hashId}`, async)
